
.form__button{
  border: none;
  border-radius: 11px;
  color: white;
  font-size: 22px;
  height: 80px;
  width: 90%;
  margin: 8px 0;
}

.form__button:disabled{
  background: rgb(156, 156, 156);
  box-shadow: 0px 4px 0px #646464;
}

.form__button--create{
  font-weight: 700;
  height: 75px;
  margin: 40px auto;
  background-color:#37da3d;
  box-shadow: 0px 4px 0px #1B962F;
}

.button-answer{
  border: none;
  background-color: #4148E6;
  box-shadow: 0px 4px 0px #222E99;
  border-radius: 5px;
  color: white;
  height: 40px;
  margin-bottom: 10px;
  width: 80%;
  cursor: pointer;
}

.form__button--copy{
  font-weight: 700;
  height: 65px;
  font-size: 18px;
  margin: 40px auto 20px;
  background-color:#37da3d;
  box-shadow: 0px 4px 0px #1B962F;
}

.form__button--edit{
  font-weight: 700;
  height: 65px;
  font-size: 18px;
  margin: 0 auto 10px;
  background-color:#3399dd;
  box-shadow: 0px 4px 0px #124c74;
}

.form__button--green{
  background-color:#37da3d;
  box-shadow: 0px 4px 0px #1B962F;
}

.form__button--blue{
  background-color:#4148E6;
  box-shadow: 0px 4px 0px #222E99;
}

.buttonBlueModal{
  background-color:#4148E6;
  box-shadow: 0px 4px 0px #222E99;
  height: 50px;
  font-size: 18px;
}

.form__button--orange{
  background-color: #DA6946;
  box-shadow: 0px 4px 0px #8E442C;
}

@media screen and (min-width: 576px) {

  .form__button{
    border: none;
    border-radius: 11px;
    font-weight: 600;
    color: white;
    font-size: 26px;
    height: 95px;
    width: 90%;
  }

  .button-answer{
    font-size: 18px;
    height: 50px;
    max-width: 480px;
  }

  .form__button--copy{
    font-weight: 700;
    font-size: 20px;
    height: 65px;
    margin: 40px auto 20px;
  }

  .form__button--edit{
    font-weight: 700;
    font-size: 20px;
    height: 65px;
    margin: 0px auto 10px;
  }

  .form__button--create {
    max-width: 550px;
    height: 80px;
    font-size: 22px;
  }

  .buttonBlueModal{
    height: 55px;
    font-size: 18px;
  }

}

@media screen and (min-width: 825px) {

  .form__button{
    border: none;
    border-radius: 11px;
    font-weight: 600;
    color: white;
    font-size: 29px;
    height: 120px;
    width: 90%;
  }

  .button-answer{
    font-size: 20px;
    height: 55px;
  }

  .form__button--copy{
    font-weight: 700;
    height: 65px;
    font-size: 18px;
    margin: 40px auto 20px;
  }

  .form__button--edit{
    font-weight: 700;
    font-size: 18px;
    height: 65px;
    margin: 0px auto 10px;
  }

  .form__button--create{
    height: 80px;
    font-size: 24px;
    max-width: 550px;
  }

  .buttonBlueModal{
    height: 60px;
    font-size: 22px;
  }

}

@media screen and (min-width: 1200px) {

  .form__button{
    border: none;
    border-radius: 11px;
    font-weight: 600;
    color: white;
    font-size: 29px;
    height: 100px;
    width: 80%;
    transition: margin-right 0.2s ease, font-size 0.2s ease;
  }
  
  .form__button--copy{
    font-weight: 700;
    font-size: 18px;
    height: 65px;
    margin: 40px auto 20px;
  }

  .form__button--edit{
    font-weight: 700;
    font-size: 18px;
    height: 65px;
    margin: 0px auto 10px;
  }

  .form__button--create{
    font-size: 24px;
    height: 70px;
    max-width: 500px;
    transition: none;
  }


  .form__button:hover{
    cursor: pointer;
  }

  .form__button--green:hover{
    font-size: 32px;
    margin-right: 60px;
    transition: margin-right 0.2s ease, font-size 0.2s ease;
  }

  .form__button--blue:hover{
    font-size: 32px;
    margin-right: 60px;
    transition: margin-right 0.2s ease, font-size 0.2s ease;
  }
  
  .form__button--orange:hover{
    font-size: 32px;
    margin-right: 60px;
    transition: margin-right 0.2s ease, font-size 0.2s ease;

  }

  .buttonBlueModal{
    height: 60px;
    font-size: 22px;
  }

}