
.profile{
  display: flex;
  border: 1px rgb(226, 226, 226) solid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 15px 0;
  width: 95%;
  min-width: 330px;
  border-radius: 10px;
}

.default {
  background-color: #131313;
}

.animals{
  background-image: url("../assets/animals.png");
}

.cool {
  background-image: url("../assets/cool.jpg");
}

.purple {
  background-image: url("../assets/purple.jpg");
}

.poker {
  background-image: url("../assets/poker.jpg");
}

.fruits {
  background-image: url("../assets/fruits.jpg");
}

.profileImage {
  border-radius: 200px;
  height: 170px;
  width: 170px;
  margin-bottom: 10px;
}

.profileTitle{
  border-bottom: 6px #BDBDBD solid;
  color: white;
  margin: 0 5px;
  font-size: 46px;
  padding-bottom: 5px;
  text-align: center; 
  max-width: 320px;
  word-wrap: break-word;

}

.profileInfoContainer {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infoGroup {
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 35px;
}

.profileUser{
  margin-top: 5px;
  color: white;
  font-size: 20px;
  word-wrap: break-word;
  max-width: 320px;
}


.question-bg{
  border-radius: 10px;
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  padding: 15px 0;
  width: 95%;
}


.question-bg__author{
  width: 90%;
  text-align: start;
  margin: 12px auto 0;
}


.question-bg__question{
  border-radius: 3px;
  background-color: rgb(95, 150, 138);
  box-shadow: 0px 4px 0px #337463;
  font-family: 'Cairo', sans-serif;
  margin-top: 5px;
  padding: 16px 7px;
  text-align: justify;
  width: 90%;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.question__not-answer {
  margin: 15px 10px;
  color: black;
  font-size: 16px;
  text-align: center;
}


.question-bg__answer{
  border-radius: 3px;
  background-color: #7C91AA;
  box-shadow: 0px 4px 0px #5C7490;
  font-family: 'Cairo', sans-serif;
  margin-top: 5px;
  padding: 16px 7px;
  text-align: justify;
  width: 90%;
}


@media screen and (min-width: 576px) {

  .not-questions{
    max-width: 450px;
    margin: 100px auto;
  }

  .profile{
    padding: 50px 0;
    flex-direction: row;
    justify-content: center;
  }

  .profileInfoContainer {
    width: 400px;
  }

  .profileImage {
    margin: 0 25px;
    height: 235px;
    width: 235px;;
  }


  .profileTitle{
    font-size: 50px;
  }

  .profileUser{
    font-size: 24px;
  }

  .question__not-answer {

    font-size: 18px;

  }

  
}

@media screen and (min-width: 825px) {

  .profile {
    max-width: 900px;
  }

  .profileInfoContainer {
    width: 400px;
  }

  .profileImage {
    height: 270px;
    width: 270px;
  }


  .profileUser{
    font-size: 28px;
  }

  .question-bg{
    max-width: 900px;
  }

  .question-bg__answer{
  border-radius: 3px;
  background-color: #7C91AA;
  box-shadow: 0px 4px 0px #5C7490;
  font-family: 'Cairo', sans-serif;
  margin-top: 5px;
  padding: 16px 7px;
  text-align: justify;
  width: 90%;
}
  
  
  .question-bg__author{
    max-width: 700px;
  }
  
  
  .question-bg__question{
    max-width: 700px;
  }

  .question-bg__answer{
    max-width: 700px;
  }

}

@media screen and (min-width: 1200px) {

  .profileTitle{
    font-size: 55px;
  }

  .profileUser{
    font-size: 30px;
  }

  .question-bg__question{
    font-size: 18px;
  }

  .question-bg__answer{
    font-size: 18px;
  }

  
  .not-questions{
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 22px;
    height: 80px;
    margin: 100px auto;
  }
  
}